[Desktop Entry]
Type=Application
Terminal=true
Name=Chameleon
Icon=/home/ivn/.config/plank/dock2/theme_index/theme-icons/plank_theme.svg
Exec=/home/ivn/.config/plank/dock2/theme_index/Chameleon.sh
